version: "3.9"

services:
  runner:
    image: tcardonne/github-runner:latest
    environment:
      RUNNER_NAME: "github-actions-runner"
      RUNNER_REPOSITORY_URL: "${REPOSITORY_URL}"
      RUNNER_TOKEN: "${TOKEN}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
